<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesindex.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="main-top">
            <article class="destacado-1">
                <div class="card">
                    <div class="card-head">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="main-punto">
                            <h3>Envios Gratuitos a todo el pais</h3>
                            <p>Si realizas una compra superior a <b>USD 100,00</b>, el envío te sale gratis. Si te encuentras ubicado en la misma ciudad te lo llevamos hasta la puerta de tu casa</p>
                        </div>
                        <span class="back-text">
                            FREE
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="product-desc">
                            <span class="product-title">
                                Delivery <b>en Valencia</b>
                            </span>
                            <span class="product-caption">
                                Free Shipping
                            </span>
                            <span class="product-price">
                                USD <b>$00.00</b>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
            <a href="" class="product-main">
                <article class="destacado-2">
                    <div class="card">
                        <div class="card-head">
                            <img src="/images/logo-nike.png" alt="logo" class="card-logo">
                            <img src="/images/zapato-nike.png" alt="shoe" class="product-img">
                            
                            <div class="product-detail">
                                <h2>Nike AirMax Sport</h2>
                                <p>Support a Nike Zoom Air come together for a more supportive feel with high-speed responsive</p>
                            </div>
                            <span class="back-text">
                                FAS
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                    AirMax <b>Sport</b>
                                    <span class="badge">
                                        New
                                    </span>
                                </span>
                                <span class="product-caption">
                                    Style Collection
                                </span>
                                <span class="product-price">
                                    USD <b>$59.99</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
            <article class="destacado-3">
                <div class="card">
                    <div class="card-head">
                        <i class="fas fa-medal"></i>
                        <div class="main-punto">
                            <h3>Hazte Pro para desbloquear ventajas</h3>
                            <p>Paga la suscripción Pro para obtener beneficios, como ofertas especiales limitadas cada semana o la oportunidad de ganar sorteos</p>
                        </div>
                        <span class="back-text">
                            PRO
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="product-desc">
                            <span class="product-title">
                                Sorteos <b>mensuales</b>
                            </span>
                            <span class="product-caption">
                                Suscripción mensual
                            </span>
                            <span class="product-price">
                                USD <b>$19.99</b>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="main-body">
            <div class="main-products">
                <div class="products-head">
                    <button class="button-products">
                        <a href="" >
                            <h2>Échale un vistazo a todos nuestros productos</h2>
                            <p>Déjate inspirar por los zapatos, ropa y accesorios de nuestra colección de marcas</p>
                        </a>
                    </button>
                </div>
                <div class="products-body-main">

                    <% for (let i = 0; i < products.length; i++) { %>
                        <a href="/product/detail">
                            <article class="produtcs-body-detail">
                                <div class="product-body-img" >
                                    <img src="/images/zapatos/<%= products[i].image %>" width="250">
                                </div>
                                <div class="product-body-detail">
                                    <span class="marca">
                                        <%= products[i].marca %>
                                    </span>
                                    <span class="name">
                                        <%= products[i].nombre %>
                                    </span>
                                    <span class="price">
                                        USD <b>$<%= products[i].price %>.00</b>
                                    </span>
                                </div>
                            </article>
                        </a>
                    <% } %>

                </div>
            </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>